.content-table{
    margin-top:20px ;
    width:645px ;
    margin-left: 80px;
    min-width: 400px;
    border: 1px solid #D1D2C0;
    font-size: 0.9em;
    height: 140px;
    border-collapse: collapse;
    color: #2c2c2c;
    /* background-image:url('./undraw_add_document_0hek.png'); */
    opacity: 0.8;
    background-size: 660px;
    background-repeat: no-repeat;
}

    
.content-table thead tr{
    background: #Ddd;
    color: #000;
    text-align: left;
    font-weight: bold;
}
.content-table td,
.content-table th{
    padding: 12px 15px;
    
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;

}
.content-table tbody tr:nth-of-type(even){
    background: #747373;
    color: #fcfcfc;
}

.content-table tbody tr:last-of-type{
    border-bottom: 3px solid #565658;
}
.telaValores{
    margin-top: -500px;
    margin-left: 780px;
    max-width: 480;
    color: #D1D2C0;
    background: #565658;
    text-align: center;
    height: 80px;
    margin-bottom: 50px;
    width: 380px;
    border: 6px solid #D1D2C0;
    
}
#valor p {
    color: #000;

    margin-top:-22px;
    display: flex;
}
.telaValores #quant{
    margin-bottom: 110px;

}


.telaValores #prod {
    background-color: #565658;
    height:80px;
    border: 4px solid #D1D2C0;
    margin-bottom: 50px;
}

.telaValores #preco {
   background-color: #565658;
    height:80px;
    margin-bottom: 50px;
    border: 6px solid #D1D2C0;
}

.telaValores #total {
    background-color: #565658;
    height:80px;
    border: 6px solid #D1D2C0;
}